#appContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: 100vh;
  width: 95%;
  margin: auto;
  background-color: #6A0DAD;
  }
  
  #instructionComponent { 
    grid-area: 1 / 1 / 3 / 2; 
    border: 1px solid black;
  }
  #browserComponent { 
    grid-area: 2 / 2 / 3 / 4; 
    border: 1px solid black;
  }
  #codeEditorComponent { 
    grid-area: 1 / 2 / 2 / 4; 
    border: 1px solid black;
  }
  
  #codeEditorComponent {
    height: 50vh;
  }

  #tutorialError {
    height: 100%;
    width: 100%;
    background-color: white;
}